@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
$azul:#2b2d42;
$gris:#edf2f6;
$plateado:#edf2f4;
$rojoClaro:#ef233c;
$rojoOscuro:#d90429;
$blanco:#ffffff;
$fuente:'Quicksand', sans-serif;
